@import "./const.scss";

@import "bulma/bulma.sass";

div#root {
    margin: $spacing * 2 $spacing;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

div.container {
    max-width: 720px;
}

@media (min-width: 601px) {
    div#root {
        margin-top: $spacing * 16 !important;
    }
}

@media (max-width: 600px) {
    div.container {
        margin: 0 $spacing;
    }
    div.navbar {
        margin-bottom: $spacing * 2 !important;
    }
}
