@import "./common.scss";

.navbar {
    .headerRight {
        max-width: $spacing * 12;
    }
}

div.main {
    .mainSubheading {
        font-weight: bolder;
    }
    div.editor {
        margin-top: $spacing * 2;
        display: flex;
        flex-direction: column;
        .row {
            display: flex;
            flex-direction: row;
            align-content: center;
            margin: $spacing 0;
            .label {
                display: block;
                min-width: $spacing * 8;
            }
        }
    }
}
