@import "./common.scss";

.navbar {
    .headerRight {
        max-width: $spacing * 12;
    }
}

@media (max-width: 600px) {
    .container {
        margin: 0 $spacing;
    }
}

div.main {
    .subtitle {
        font-weight: bolder;
    }
    .fix {
        border-top: $spacing / 4 solid $borderColor;
        margin-top: $spacing;
    }
    .editor {
        margin-top: $spacing;
        max-width: 320px;
    }
}
