@import "./common.scss";

.navbar .headerRight {
    // setting max-width here prevents the right side of the navbar
    // from being stretched
    max-width: $spacing * 12;
}

@media (max-width: 600px) {
    .editor_view {
        margin: 0 $spacing * 2 !important;
    }
    .navbar {
        margin-top: $spacing * 8;
    }
}

div.main {
    margin: $spacing;
    .subtitle {
        font-weight: bolder;
    }
    .fix {
        border-top: $spacing / 4 solid $borderColor;
        margin-top: $spacing;
    }
    .editor {
        margin-top: $spacing * 2;
        max-width: 320px;
    }
}
