@import "./common.scss";

div.searchBox {
    margin: $spacing * 2;
}

div.app_footer {
    margin-top: $spacing * 2;
}

@media (max-width: 600px) {
    div.headerText {
        display: none;
    }
    div.headerButtons {
        margin: 0 $spacing * 4;
    }
}
