@import "./common.scss";

div.searchBox {
    margin: $spacing;
}

.headerButtons {
    .level-item > input {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    div.headerText {
        display: none;
    }
    div.headerButtons {
        margin: 0 $spacing;
    }
}
