@import "./const.scss";

div.taskList {
    margin: 0 $spacing;
    div.taskSubtree {
        margin-left: $spacing * 4;
        div.taskLine {
            line-height: 1.5;
            border: 1px solid $borderColor;
            margin: $spacing;
            padding: $spacing;
            &.taskCompleted {
                text-decoration: line-through;
                background: darken(#ffffff, 20%);
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div.taskTextPart {
                flex-grow: 4;
                a {
                    display: block;
                }
            }
        }
    }
    /* do not indent top-level tasks */
    & > div.taskSubtree {
        margin-left: 0 !important;
    }
}

@media (max-width: 600px) {
    div.taskList {
        div.taskSubtree {
            margin-left: $spacing * 1.5 !important;
        }
        /* do not indent top-level tasks */
        & > div.taskSubtree {
            margin-left: 0 !important;
        }
    }
}
