@import "./const.scss";

div.taskList {
    margin: 0 $spacing;
    div.taskSubtree {
        margin-left: $spacing * 8;
        div.taskLine {
            border: 1px solid $borderColor;
            border-radius: 3px;
            margin: $spacing * 3 0;
            padding: $spacing * 3;
            &.taskCompleted {
                .taskText {
                    text-decoration: line-through;
                }
                background: darken(#ffffff, 20%);
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div.taskText {
                flex-grow: 4;
                // solves the problem with fitting text into the containers
                width: min-content;
                a {
                    flex: 1;
                }
            }
        }
    }
    /* do not indent top-level tasks */
    & > div.taskSubtree {
        margin-left: 0 !important;
    }
    .taskToRemove {
        display: none !important;
    }
}

@media (max-width: 600px) {
    div.taskList {
        div.taskSubtree {
            margin-left: $spacing * 8 !important;
        }
        /* do not indent top-level tasks */
        & > div.taskSubtree {
            margin-left: 0 !important;
        }
        .taskID {
            display: none !important;
        }
    }
}
